.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.container {
  margin-top: 100px;
  max-width: 600px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.box {
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 
              0px 1px 1px 0px rgba(0,0,0,0.14), 
              0px 2px 1px -1px rgba(0,0,0,0.12);
}

/*.content-header {
  padding: 16px;
  align-items: center;
}*/

.header-city {
  display: block;
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
}

.header-date {
  display: block;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
}

.container h3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 3.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.00833em;
}

.container h6 {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
  margin-bottom: 0.35em;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 40px;
  text-align: right;
}